/* bg hs 282-279 */
--bg-hs-282-279-25: rgb(246, 246, 248);
--bg-hs-282-279-100: rgb(222, 223, 232);
--bg-hs-282-279-200: rgb(199, 200, 217);
--bg-hs-282-279-275: rgb(175, 178, 203);
--bg-hs-282-279-350: rgb(155, 159, 190);
--bg-hs-282-279-425: rgb(129, 136, 173);
--bg-hs-282-279-500: rgb(107, 115, 155);
--bg-hs-282-279-600: rgb(88, 96, 129);
--bg-hs-282-279-675: rgb(71, 77, 104);
--bg-hs-282-279-775: rgb(41, 45, 62);

/* fn green hs 160-188 */
--fn-green-hs-160-188-25: rgb(231, 251, 240);
--fn-green-hs-160-188-100: rgb(115, 248, 192);
--fn-green-hs-160-188-200: rgb(90, 224, 176);
--fn-green-hs-160-188-275: rgb(73, 200, 160);
--fn-green-hs-160-188-350: rgb(68, 187, 153);
--fn-green-hs-160-188-425: rgb(54, 153, 128);
--fn-green-hs-160-188-500: rgb(45, 130, 113);
--fn-green-hs-160-188-600: rgb(36, 108, 97);
--fn-green-hs-160-188-675: rgb(28, 87, 80);
--fn-green-hs-160-188-775: rgb(15, 51, 48);

/* blue hs 241-280 */
--blue-hs-241-280-25: rgb(243, 247, 250);
--blue-hs-241-280-100: rgb(208, 227, 241);
--blue-hs-241-280-200: rgb(173, 206, 234);
--blue-hs-241-280-275: rgb(140, 185, 227);
--blue-hs-241-280-350: rgb(119, 170, 221);
--blue-hs-241-280-425: rgb(92, 141, 195);
--blue-hs-241-280-500: rgb(79, 119, 173);
--blue-hs-241-280-600: rgb(67, 98, 150);
--blue-hs-241-280-675: rgb(55, 78, 127);
--blue-hs-241-280-775: rgb(33, 45, 80);

/* cyan hs 233-250 */
--cyan-hs-233-250-25: rgb(239, 248, 253);
--cyan-hs-233-250-100: rgb(186, 231, 253);
--cyan-hs-233-250-200: rgb(153, 221, 255);
--cyan-hs-233-250-275: rgb(3, 195, 255);
--cyan-hs-233-250-350: rgb(0, 179, 237);
--cyan-hs-233-250-425: rgb(0, 148, 201);
--cyan-hs-233-250-500: rgb(0, 126, 174);
--cyan-hs-233-250-600: rgb(1, 105, 147);
--cyan-hs-233-250-675: rgb(0, 84, 121);
--cyan-hs-233-250-775: rgb(1, 50, 75);

/* str green hs 102-125 */
--str-green-hs-102-125-25: rgb(251, 252, 134);
--str-green-hs-102-125-100: rgb(219, 232, 81);
--str-green-hs-102-125-200: rgb(187, 204, 51);
--str-green-hs-102-125-275: rgb(163, 190, 42);
--str-green-hs-102-125-350: rgb(143, 176, 38);
--str-green-hs-102-125-425: rgb(113, 148, 30);
--str-green-hs-102-125-500: rgb(91, 127, 24);
--str-green-hs-102-125-600: rgb(70, 107, 19);
--str-green-hs-102-125-675: rgb(52, 87, 13);
--str-green-hs-102-125-775: rgb(29, 51, 9);

/* taupe hs 96-50 */
--taupe-hs-96-50-25: rgb(248, 246, 241);
--taupe-hs-96-50-100: rgb(231, 223, 199);
--taupe-hs-96-50-200: rgb(202, 192, 169);
--taupe-hs-96-50-275: rgb(190, 178, 156);
--taupe-hs-96-50-350: rgb(176, 162, 143);
--taupe-hs-96-50-425: rgb(149, 134, 119);
--taupe-hs-96-50-500: rgb(128, 114, 101);
--taupe-hs-96-50-600: rgb(109, 94, 83);
--taupe-hs-96-50-675: rgb(89, 74, 66);
--taupe-hs-96-50-775: rgb(53, 44, 39);

/* gray */
--gray-25: rgb(246, 246, 246);
--gray-100: rgb(221, 221, 221);
--gray-200: rgb(201, 201, 201);
--gray-275: rgb(179, 179, 179);
--gray-350: rgb(160, 160, 160);
--gray-425: rgb(137, 137, 137);
--gray-500: rgb(116, 116, 116);
--gray-600: rgb(97, 97, 97);
--gray-675: rgb(78, 78, 78);
--gray-775: rgb(55, 55, 55);

/* orange hs 50-35 */
--orange-hs-50-35-25: rgb(251, 245, 242);
--orange-hs-50-35-100: rgb(246, 218, 205);
--orange-hs-50-35-200: rgb(243, 189, 167);
--orange-hs-50-35-275: rgb(240, 158, 127);
--orange-hs-50-35-350: rgb(238, 136, 102);
--orange-hs-50-35-425: rgb(233, 85, 49);
--orange-hs-50-35-500: rgb(209, 61, 36);
--orange-hs-50-35-600: rgb(175, 49, 34);
--orange-hs-50-35-675: rgb(142, 39, 29);
--orange-hs-50-35-775: rgb(103, 26, 21);

/* yellow hs 96-70 */
--yellow-hs-96-70-25: rgb(250, 247, 229);
--yellow-hs-96-70-100: rgb(238, 221, 136);
--yellow-hs-96-70-200: rgb(221, 200, 118);
--yellow-hs-96-70-275: rgb(201, 177, 101);
--yellow-hs-96-70-350: rgb(188, 161, 92);
--yellow-hs-96-70-425: rgb(160, 133, 75);
--yellow-hs-96-70-500: rgb(139, 112, 63);
--yellow-hs-96-70-600: rgb(118, 92, 51);
--yellow-hs-96-70-675: rgb(97, 73, 40);
--yellow-hs-96-70-775: rgb(58, 42, 24);

/* pink hs 12-350 */
--pink-hs-12-350-25: rgb(253, 244, 245);
--pink-hs-12-350-100: rgb(252, 214, 219);
--pink-hs-12-350-200: rgb(255, 170, 187);
--pink-hs-12-350-275: rgb(255, 145, 173);
--pink-hs-12-350-350: rgb(255, 118, 162);
--pink-hs-12-350-425: rgb(255, 33, 140);
--pink-hs-12-350-500: rgb(222, 1, 125);
--pink-hs-12-350-600: rgb(186, 0, 109);
--pink-hs-12-350-675: rgb(151, 0, 92);
--pink-hs-12-350-775: rgb(92, 3, 57);

/* comment */
--comment-25: rgb(246, 246, 247);
--comment-100: rgb(223, 224, 226);
--comment-200: rgb(200, 201, 206);
--comment-275: rgb(177, 179, 186);
--comment-350: rgb(158, 160, 168);
--comment-425: rgb(126, 129, 139);
--comment-500: rgb(114, 116, 125);
--comment-600: rgb(94, 97, 104);
--comment-675: rgb(76, 78, 84);
--comment-775: rgb(53, 55, 60);